# Class work 3

In [1]:
columns = ['user_id', 'op_type', 'revenue']
data = [('1', 'call', 10.0),
        ('1', 'call', 12.3),
        ('1', 'video', 30.),
        ('2', 'call', 11.),
        ('2', 'video', 22.3),
       ('2', 'video', 32.3),
       ('2', 'call', 11.7)]

In [2]:
import pandas as pd
df = pd.DataFrame(data, columns=columns)
df

  user_id op_type  revenue
0       1    call     10.0
1       1    call     12.3
2       1   video     30.0
3       2    call     11.0
4       2   video     22.3
5       2   video     32.3
6       2    call     11.7

Create a **Python** implementation of a function called `calc_revenue(data, dimension)` that recieves a data object as above, and a one or more breakdown dimensions. The function compute the total revenue in requested dimensions. If dimension is None - it'll calculated the total revenue

Output exampels:

```python
calc_revenue(data) - returns 129.6
calc_revenue(data, ['user_id']) - returns {'1': 52.3, '2': 77.3}
calc_revenue(data, ['op_type']) - returns {'call': 45.0, 'video': 84.6}
calc_revenue(data, ['user_id', 'op_type']) - returns {('1', 'call'): 22.3,
 ('1', 'video'): 30.0,
 ('2', 'call'): 22.7,
 ('2', 'video'): 54.599999999999994}
```

In [12]:
df.groupby(['user_id', 'op_type']).revenue.sum().to_dict()

{('1', 'call'): 22.3,
 ('1', 'video'): 30.0,
 ('2', 'call'): 22.7,
 ('2', 'video'): 54.599999999999994}